pandas<2.3
slack-sdk
matplotlib
pillow
twilio
weasyprint
numpy
scipy
fastapi
uvicorn
fpdf
plotly
seaborn
googletrans==3.1.0a0
slack-bolt
kaleido
google-generativeai
pytrends
requests
html2text
urllib3<2.0
